<form name="ricerca" novalidate>
	<div id="boxErrori" class="alert alert-warning" data-ng-show="mostraErrori">
	</div>
	<div id="form" class="container-fluid collapse in">
		<div class="row form-group">
			<div class="col-sm-5 form-group">
				<label for="ragioneSociale">Ragione sociale:</label> <input class="form-control" type="text" name="ragioneSociale" data-ng-model="ragioneSociale" />
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 form-group">
				<label for="partitaIva">P.Iva / C.F. :</label> <input class="form-control" type="text" name="partitaIva" data-ng-model="partitaIva" />
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row form-group">
			<div class="col-sm-5 form-group">
				<label for="sitoWeb">Sito Web:</label> <input class="form-control" type="text" name="sitoWeb" data-ng-model="sitoWeb" />
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 form-group">
				<label for="email">Email :</label> <input class="form-control" type="text" name="email" data-ng-model="email" />
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row form-group">
			<div class="col-sm-5 form-group">
				<label for="telefono">Telefono:</label> <input class="form-control" type="text" name="telefono" data-ng-model="telefono" />
			</div>
			<div class="col-sm-7"></div>
		</div>
		<div class="row form-group">
			<div class="col-sm-5 form-group">
				<label for="inTrattiva">In trattiva: </label> <input type="checkbox" name="inTrattiva" value="inTrattiva" data-ng-model="inTrattiva" />
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 form-group">
				<label for="appetibile">Appetibilit&agrave;:</label> <select class="form-control" name="appetibile" id="appetibile" data-ng-model="appetibile">
					<option value="10">10</option>
					<option value="9">9</option>
					<option value="8">8</option>
					<option value="7">7</option>
					<option value="6">6</option>
					<option value="5">4</option>
					<option value="4">4</option>
					<option value="3">3</option>
					<option value="2">2</option>
					<option value="1">1</option>
				</select>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row form-group">
			<div class="col-sm-5 form-group">
				<label for="tipoLogistica">Logistica:</label> <select class="form-control" name="stato" id="tipoLogistica" data-ng-model="tipoLogistica">
					<option value="INTERNA">Interna</option>
					<option value="ESTERNA">Esterna</option>
					<option value="ENTRAMBE">Entrambe</option>
					<option value="NESSUNA">Nessuna</option>
				</select>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 form-group">
				<label for="valutazione">Valutazione:</label> <select class="form-control" name="valutazione" id="valutazione" data-ng-model="valutazione">
					<option value="DA_VALUTARE">Da Valutare</option>
					<option value="AFFIDABILE">Affidabile</option>
					<option value="NON_AFFIDABILE">Non Affidabile</option>
				</select>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	<button id="bottoneCaricamento" type="button" class="btn bottone sinistra" data-ng-click="salva()">Salva</button>
</form>