<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<!-- padding sx -->
			</div>
			<div class="col-sm-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<br>
							<p class="footer">
								<span class="testoarancione">L&amp;TC s.r.l.</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<p class="footer">
								SEDE LEGALE Via firenze 41,<br/>
								06073 Taverne di Corciano (PG)<br/>
							</p>
						</div>
						<div class="col-sm-6">
							<p class="footer">
								<a class="footer" href="tel:075 506861">075 506861</a><br/>
								<a class="footer" href="mailto:support@ltc-logistics.it">support@ltc-logistics.it</a><br/>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<br/>
				<img class="centrato footer" src="resources/images/logoChiaro.png" />
			</div>
			<div class="col-sm-3">
				<!-- padding dx -->
			</div>
		</div>
	</div>
</footer>