<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#index">LTC - CRM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="#index">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1">Aziende<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        	<li><a href="#nuovaAzienda">Nuova Azienda</a></li>
			<li><a href="#cercaAzienda">Ricerca</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Contatti<span class="caret"></span></a>
        <ul class="dropdown-menu">
        	<li><a href="#nuovoContatto">Nuovo Contatto</a></li>
			<li><a href="#cercaContatto">Ricerca</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Brand<span class="caret"></span></a>
        <ul class="dropdown-menu">
        	<li><a href="#nuovoBrand">Nuovo Brand</a></li>
			<li><a href="#cercaBrand">Ricerca</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Gadget<span class="caret"></span></a>
        <ul class="dropdown-menu">
        	<li><a href="#nuovoGadget">Nuovo Gadget</a></li>
			<li><a href="#cercaGadget">Ricerca</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#preferenze"><span class="glyphicon glyphicon-user"></span> Preferenze</a></li>
      <li data-ng-click="deAutentica()"><a href="#login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
  </div>
</nav>