<label for="stato">Stato:</label>
<select class="form-control" name="stato" id="stato" data-ng-model="stato">
   	<option value="" disabled>...</option>
   	<option value="L01">Ricezione Ordine</option>
   	<option value="L02">Picking e Imballaggio</option>
   	<option value="L03">richiesta spedizione</option>
   	<option value="L04">Consegnato al Corriere</option>
   	<option value="" class="separator" disabled></option>
   	<option value="S01">Spedizione Presa in Carico dal Corriere</option>
   	<option value="S02">Spedizione in Consegna</option>
   	<option value="S03">Spedizione Consegnata</option>
   	<option value="" class="separator" disabled></option>
   	<option value="C01">Giacenza</option>
   	<option value="C02">Spedizione non Ritirata o Respinta</option>
   	<option value="C03">Spedizione in Fermo Deposito</option>
   	<option value="C04">In Attesa di Verifica</option>
   	<option value="C05">Lasciato Avviso</option>
   	<option value="C06">Spedizione Annullata</option>
   	<option value="C07">Disguidato</option>
</select>