<br />
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="well col-sm-4 bianco centrato">
			<br />
			<form novalidate>
				<div class="form-group">
					<label for="username">Nome utente:</label>
					<input class="form-control logininput" type="text" name="username" data-ng-model="username"/>
				</div>
				<br/>
				<div class="form-group">
					<label for="password">Password:</label>
					<input class="form-control logininput" type="password" name="password" data-ng-model="password"/>
				</div>
				<!-- 
				<div class="checkbox">
      				<label><input type="checkbox">Memorizza credenziali</label>
    			</div>
    			 -->
				<br/>
				<p class="loginerrore">{{message}}</p>
				<button class="btn bottone destra" data-ng-click="login()">Login</button>
				<p>
					<a class="login" href="#reimposta">Password dimenticata?</a>
				</p>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>